body {
    color: blue;
  }
  
  h1 {
    color: green;
  }

  ul {
    color: red;
  }
  
  ol {
    color: orange;
  }
  
  .p {
    color: purple;
  }
  
  h2 {
    color: indigo;
  }

  h3 {
color: peachpuff

  }
  
  